
.header {  
  padding: 20px;
  background: $headerColor;
  &__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    height: 30px;
  }
  &__nav {
    display: flex;
    align-items: center;
    a {
      display: block;
      font-size: 14px;
      color: #fff;
      margin-left: 22px;
    }
  }
}