/*----------BASE---------*/
/*----COLORS-----*/
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Poppins-Regular.otf") format("opentype"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.ttf") format("truetype"), url("../../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Poppins-Regular'; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background: transparent; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

.sectionTitle {
  font-size: 50px;
  color: #313131;
  text-align: center;
  margin-bottom: 40px; }
  @media only screen and (max-width: 768px) {
    .sectionTitle {
      font-size: 36px;
      margin-bottom: 15px; } }
  @media only screen and (max-width: 480px) {
    .sectionTitle {
      font-size: 26px; } }

.sub-text {
  font-size: 14px;
  color: #616161;
  text-align: center; }
  @media only screen and (max-width: 768px) {
    .sub-text {
      line-height: 20px; } }

.wrapper {
  max-width: 1140px;
  margin: 0 auto; }

/*----------THEME---------*/
.btn {
  padding: 18px 40px;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase; }
  .btn__orange {
    background: #fc5f45;
    color: #fff; }

/*----------LAYOUT---------*/
.header {
  padding: 20px;
  background: #3f4049; }
  .header__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    height: 30px; }
  .header__nav {
    display: flex;
    align-items: center; }
    .header__nav a {
      display: block;
      font-size: 14px;
      color: #fff;
      margin-left: 22px; }

.firstSection {
  position: relative;
  min-height: 700px;
  padding: 40px 15px;
  background: url("../img/slider-background.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center; }
  .firstSection:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(18, 38, 76, 0.4); }
  .firstSection .wrapper {
    max-width: 830px;
    margin: 0 auto;
    position: relative;
    z-index: 1; }
  .firstSection__wrapBtn {
    text-align: center;
    margin-bottom: 80px; }
  .firstSection__title {
    font-size: 60px;
    color: #fff;
    font-family: 'Baskerville';
    text-align: center;
    margin-bottom: 60px;
    line-height: 85px; }
  .firstSection__boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap; }
  .firstSection .box {
    width: 240px;
    flex: 1;
    text-align: center; }
    .firstSection .box__img {
      width: 40px;
      height: 40px;
      display: inline-block;
      margin-bottom: 45px; }
      .firstSection .box__img img {
        object-fit: contain; }
    .firstSection .box__text {
      font-size: 18px;
      text-transform: uppercase; }
      .firstSection .box__text.green {
        color: #3a9a7c; }
      .firstSection .box__text.purpure {
        color: #956dca; }
      .firstSection .box__text.yellow {
        color: #feb960; }
  @media only screen and (max-width: 768px) {
    .firstSection {
      min-height: initial; }
      .firstSection__title {
        font-size: 47px;
        margin-bottom: 50px;
        line-height: 59px; }
      .firstSection__wrapBtn {
        margin-bottom: 50px; } }
  @media only screen and (max-width: 480px) {
    .firstSection__title {
      font-size: 26px;
      margin-bottom: 30px;
      line-height: 39px; }
    .firstSection__boxes {
      flex-direction: column; }
    .firstSection .box {
      margin-bottom: 25px; }
      .firstSection .box:last-child {
        margin-bottom: 0; }
      .firstSection .box__img {
        margin-bottom: 15px; }
      .firstSection .box__text {
        font-size: 16px; } }

.aboutus {
  padding: 150px 15px; }
  .aboutus .wrapper {
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto; }
  .aboutus__photo {
    max-width: 555px;
    max-height: 700px;
    width: 100%;
    height: 100%; }
    .aboutus__photo img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .aboutus__body {
    position: relative;
    height: 490px;
    max-width: 650px;
    padding: 30px 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -70px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15); }
    .aboutus__body:after {
      width: 100%;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0;
      content: "";
      background-image: linear-gradient(to left, #3a9a7c 0%, #3a9a7c 25%, #fc5f45 25%, #fc5f45 50%, #956dca 50%, #956dca 75%, #feb960 75%, #feb960 100%); }
  .aboutus .sectionTitle {
    margin-bottom: 55px; }
  .aboutus__text {
    font-size: 15px;
    color: #616161;
    line-height: 25px;
    margin-bottom: 40px; }
    .aboutus__text:last-child {
      margin-bottom: 0; }
  .aboutus__wrap-title {
    width: 100%; }
  @media only screen and (max-width: 1024px) {
    .aboutus__body {
      height: auto;
      padding: 30px 50px; }
    .aboutus .sectionTitle {
      margin-bottom: 30px; } }
  @media only screen and (max-width: 1024px) {
    .aboutus {
      padding: 30px 15px; }
      .aboutus .wrapper {
        flex-direction: column;
        max-width: 400px; }
      .aboutus__body {
        width: auto;
        margin-left: 0;
        margin-top: 25px; }
      .aboutus__text {
        font-size: 14px; } }

.focus {
  padding: 80px 15px;
  background-color: #f7f7f7; }
  .focus .wrapper {
    max-width: 1140px;
    margin: 0 auto; }
  .focus__head {
    margin-bottom: 80px; }
  .focus__sub-text {
    font-size: 14px;
    color: #616161;
    text-align: center; }
  .focus .sectionTitle {
    margin-bottom: 40px;
    text-align: center; }
  .focus__boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -15px; }
  .focus .box {
    width: 265px;
    max-width: 265px;
    flex: 1;
    min-width: 170px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 350px;
    background-color: white;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 15px; }
    .focus .box.red {
      border-bottom: 3px solid #fc5f45; }
    .focus .box.green {
      border-bottom: 3px solid #3a9a7c; }
    .focus .box.purpure {
      border-bottom: 3px solid #956dca; }
    .focus .box.yellow {
      border-bottom: 3px solid #feb960; }
    .focus .box__img {
      margin-bottom: 30px; }
    .focus .box__title {
      margin-bottom: 30px;
      font-size: 20px;
      color: #313131;
      font-weight: 500; }
    .focus .box__text {
      color: #616161;
      font-size: 15px;
      line-height: 25px; }
  @media only screen and (max-width: 1024px) {
    .focus__boxes {
      margin: 0; }
    .focus .box {
      margin-bottom: 25px;
      flex: auto; } }
  @media only screen and (max-width: 768px) {
    .focus {
      padding: 30px 15px; } }
