/*----------BASE---------*/
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville");
@font-face {
  font-family: 'Poppins-Regular';
  src: url("../../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/Poppins-Regular.otf") format("opentype"), url("../../fonts/Poppins-Regular.woff") format("woff"), url("../../fonts/Poppins-Regular.ttf") format("truetype"), url("../../fonts/Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: 'Poppins-Regular'; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  border: none;
  background: transparent; }

img {
  max-width: 100%; }

a {
  text-decoration: none; }

/*----------THEME---------*/
.btn {
  padding: 18px 40px;
  border-radius: 30px;
  font-size: 16px;
  text-transform: uppercase; }
  .btn__orange {
    background: #fc5f45;
    color: #fff; }

/*----------LAYOUT---------*/
.header {
  padding: 20px;
  background: #3f4049; }
  .header__container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    width: 50px;
    height: 30px;
    background: red; }
  .header__nav {
    display: flex;
    align-items: center; }
    .header__nav a {
      display: block;
      font-size: 14px;
      color: #fff;
      margin-left: 22px; }

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 800px;
  background: url("../../img/slider-background.jpg") no-repeat;
  background-size: cover; }
  .banner:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.3; }
  .banner__wrapper {
    position: relative;
    z-index: 1; }
  .banner__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    color: #fff;
    text-align: center;
    line-height: 80px; }

p {
  color: red; }
