body {
  background: blue; }

.header1 {
  color: red; }

.header {
  background: red; }
  .header__col {
    color: red; }

p {
  color: red; }

body {
  -webkit-transform: translate(5px);
  transform: translate(5px); }
