$headerColor: #3f4049;
$orange: #fc5f45;
/*----COLORS-----*/
$white: #fff;
$colorNav: #272727;
$gray: #313131;
$gray2: #616161;
$gray3: #3f4049;
$red: #fc5f45;
$yellow: #feb960;
$green: #3a9a7c;
$purpure: #956dca;
$lightGray: #f7f7f7;
$lightGray2: #e0e0e0;
$lightGreen: #38c695;
$darkBlue: #353541;
$colorSectionText: #959595;
