.video {
  position: relative;
  padding: 15px;
  text-align: center;
  background-color: $gray3;
  height: 500px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background:rgba(18, 38, 76, 0.7);
    content: '';
  }
  &__title {
    color: #fff;
    margin-bottom: 50px;
    font-size: 30px;
    position: relative;
    z-index: 1;
    padding: 30px;
    background: rgba(115, 140, 187, 0.7);
    border-bottom: 3px solid red;
    border-radius: 3px;
  }
  &__video-item {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  @include media(768px) {
    height: 300px;
  }
}